@media screen and (max-width: 984px) {

  .image-leafs {
    order: 2;
    width: 42%;
  }

  h2 {
    white-space: nowrap;
  }

  .container-service {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .service-card {
    width: 29%;
  }

}

@media screen and (max-width: 885px) { 

  .right-part {
    padding-top: 95px;
    gap: 25px;
  }
  
  .description {
    font-size: 29px;
  }

  .content-ex {
    flex-direction: column;
  }

  .exposithion-capthion {
    text-align: center;
  }

  .image-houseplant {
    width: 38%;
  }

}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }

  h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .content {
    align-items: flex-start;
  }

  .content-banner {
    order: 1;
  }

  .content-banner p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .content-ex {
    flex-direction: column;
  }

  .exposithion {
    padding-top: 40px;
  }

  .exposithion-capthion h2{
    font-size: 35px;
    line-height: 46px;
  }
  
  .content-exposithion {
    width: 100%;
  }

  .content-exposithion p {
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .content-exposithion p br{
    display: none;
  }

  .image-houseplant img {
    width: 100%;
    height: auto;
  }

  .container-basic {
    gap: 40px;
  }

  .service {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .service-capthion h2{
    font-size: 35px;
    line-height: 46px;
  }

  .service-card {
    width: 42%;
    text-align: center;
    padding-bottom: 20px;
  }

   .image-card img{
    width: 100%;
   }
  
  .text-card {
    padding: 0 20px;
  }
  
  .head-price{
    font-size: 35px;
    line-height: 42px;
  }

  .right-part {
    padding-top: 95px;
    gap: 25px;
  }

  .description {
    font-size: 25px;
    line-height: 35px;
  }

  .image-price {
    width: 55%;
  }
  
  .image-price img {
    width: 100%;
    height: auto;
  }

  .content-contacts {
    flex-direction: column-reverse;
    align-items: center;
    gap: 250px;
    width: 100%;
  }

  .title-contacts {
    text-align: center;
  }

  .right-contacts {
    width: 66%;
    gap: 100px;
  }

  .image-woman {
    width: 30%;
  }

  .image-woman img {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 740px) {

  .content-prices {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right-part {
    padding-top: 60px;
    align-items: center;
    text-align: center;
  }

  .image-price {
    display: none;
  }
}

@media screen and (max-width: 660px) {

  .menu-list {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #EDF2EC;
    padding: 140px 70px 157px 70px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .menu-show {
    display: block;
  }

  .menu-link {
    display: block;
    font-size: 19px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 26px;
    flex-direction: column;
    z-index: 2;
  }

  .menu-button span {
    width: 90%;
    height: 2px;
    background: #717171;
  }
  
  

  .content-banner {
    flex-basis: 100%;
  }

}

@media screen and (max-width: 603px) {
  .service-card {
    width: 43%;
  }

  .right-contacts {
    flex-basis: 66%;
  }
}

@media screen and (max-width: 578px) {
  .image-leafs{
    display: none;
  }
  .menu-list {
    padding-bottom: 131px;
  }
}

@media screen and (max-width: 476px) {
  
  .image-leafs {
    display: none;
  }

  h2 {
    white-space: normal;
  }

  .right-contacts {
    width: 90%;
  }
}

@media screen and (max-width: 469px) {

  .exposithion-capthion h2 {
    font-size: 32px;
  }

  .content-exposithion p {
    font-size: 18px;
  }

  .service-capthion h2 {
    font-size: 32px;
  }

  .service-buttons {
    gap: 15px;
  }

  .service-buttons button {
    width: 40%;
    font-size: 18px;
    line-height: 18px;
  }

  .service-card {
    width: 100%;
  }

  .caption-card {
    font-size: 18px;
    line-height: 18px;
  }

  .text-card {
    font-size: 15px;
    line-height: 18px;
    padding: 0;
  }

  .right-contacts {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  

  .banner {
    padding-top: 23px;
    padding-bottom: 24px;
  }

  .content-banner h1 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  
  .content-banner {
    flex-basis: content;
  }

  .content-banner p {
    margin-bottom: 20px;
  }

  .exposithion {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .exposithion-capthion {
    margin-bottom: 22px;
  }

  .exposithion-capthion h2{
    font-size: 25px;
    line-height: 33px;
  }

  .exposithion-capthion p {
    font-size: 15px;
    line-height: 25px;
  }

  .content-exposithion p{
    padding-bottom: 0px;
    font-size: 15px;
    line-height: 25px;
  }

  .image-houseplant {
    width: 45%;
  }
  
  .service {
    padding-top: 30px;
    padding-bottom: 27px;
  }

  .service-capthion h2{
    font-size: 25px;
    line-height: 33px;
  }

  .service-buttons {
    gap: 10px;
  }

  .service-buttons button {
    width: 121px;
    font-size: 15px;
    line-height: 20px;
    padding: 8px 28px;
  }

  .container-service-cards {
    row-gap: 34px;
    justify-content: center;

  }

  .content-prices {
    padding-top: 25px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-part {
    gap: 40px;
  }

  .head-price {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }

  .selecthion-prices {
    padding: 29px 22px;
    gap: 14px;
    width: 90%;
  }

  .basic {
    padding: 16px 40px 16px 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .right-part {
    padding-top: 19px;
    gap: 14px;
    align-items: center;
    text-align: center;
  }

  .description {
    font-size: 20px;
    line-height: 35px;
  }

  .right-part button {
    font-size: 15px;
    line-height: 20px;
    padding: 8px 22px;
  }

  .image-price {
    display: none;
  }

  .content-contacts {
    padding-top: 25px;
    gap: 132px;
  }

  .right-contacts {
    gap: 80px;
  }

  .title-contacts {
    font-size: 25px;
    line-height: 33px;
  }

  .container-slider-contacts {
    padding: 5px 20px;
  }

  .image-woman {
    width: 31%;
  }

  .content-banner button {
    padding: 8px 18px;
    font-size: 10px;
    line-height: 20px;
  }
}